.container{
    width: 60%;
    margin: auto;
    padding-top: 40px;
}


table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    border-color: gray;
 
}

table{
    width: 100%;
}

caption{
    background-color: yellow;
    width: 40%;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    
}

th{
    background-color: dodgerblue;
    color: white;
}


td, th{
    padding: 15px;
}


tr:nth-child(even){
    background-color: lightgray;
}


tr:hover{
    background-color: darkgray;
}


tr:hover{
    background-color: darkgrey;
}




